<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Newport News Waterworks Toolbars</Name><AddInID>{d6dd92db-b0f1-42df-8330-1be6e00944f7}</AddInID><Description>Assorted Python Add-Ins</Description><Version>0.1</Version><Image>Images\WW_Department_Insignia.png</Image><Author>NNWW GIS - Brian Kingery</Author><Company>Newport News Waterworks</Company><Date>03/17/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="NNWW_Toolbars_addin.py" namespace="NNWW_Toolbars_addin"><ArcMap>
    <Commands>
        <ComboBox caption="Layer" category="Newport News Waterworks Toolbars" class="ComboBoxClass_1_Layer" id="NNWW_Toolbars_addin.combobox_layer" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Choose layer to search."><Help heading="" /></ComboBox>
        <ComboBox caption="Field" category="Newport News Waterworks Toolbars" class="ComboBoxClass_2_Field" id="NNWW_Toolbars_addin.combobox_field" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="The fields listed are from the selected layer."><Help heading="" /></ComboBox>
        <ComboBox caption="Keyword" category="Newport News Waterworks Toolbars" class="ComboBoxClass_3_Keyword" id="NNWW_Toolbars_addin.combobox_keyword" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Enter keyword."><Help heading="" /></ComboBox>
        <Button caption="Search" category="Newport News Waterworks Toolbars" class="ButtonClass_4_Search" id="NNWW_Toolbars_addin.button_search" image="Images\search.png" message="" tip="Search based on the Layer, Field, and Keyword entries."><Help heading="" /></Button>
        <Button caption="Make Layer from Search Results" category="Newport News Waterworks Toolbars" class="ButtonClass_5_MakeLayer" id="NNWW_Toolbars_addin.button_makelayer" image="Images\add-mark.png" message="" tip="Create layer from Python Add-In search results."><Help heading="" /></Button>
        <Button caption="Remove Add-In Layers" category="Newport News Waterworks Toolbars" class="ButtonClass_6_RemoveLayers" id="NNWW_Toolbars_addin.button_removelayers" image="Images\disabled.png" message="" tip="Remove all layers added by Python Add-In."><Help heading="" /></Button>
        <ComboBox caption="Street 1" category="Newport News Waterworks Toolbars" class="ComboBoxClass_1_StreetOne" id="NNWW_Toolbars_addin.combobox_streetone" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Enter the first street."><Help heading="" /></ComboBox>
        <ComboBox caption="Street 2" category="Newport News Waterworks Toolbars" class="ComboBoxClass_2_StreetTwo" id="NNWW_Toolbars_addin.combobox_streettwo" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip="Enter the second street."><Help heading="" /></ComboBox>
        <Button caption="Find Intersection" category="Newport News Waterworks Toolbars" class="ButtonClass_3_FindPoint" id="NNWW_Toolbars_addin.button_findpoint" image="Images\map-location.png" message="" tip="Find intersection of both streets and places a point on map if intersection exists."><Help heading="" /></Button>
        <Button caption="Remove Intersection Point" category="Newport News Waterworks Toolbars" class="ButtonClass_4_RemovePoint" id="NNWW_Toolbars_addin.button_removepoint" image="Images\disabled.png" message="" tip="Remove intersection point(s) from map."><Help heading="" /></Button>
        <Button caption="Add CAD Index" category="Newport News Waterworks Toolbars" class="ButtonClass_1_AddCADIndex" id="NNWW_Toolbars_addin.button_addcadindex" image="Images\square.png" message="" tip="Adds the cadindex.shp to the map if needed for reference."><Help heading="" /></Button>
        <Tool caption="Add Drawings" category="Newport News Waterworks Toolbars" class="ToolClass_2_AddDrawings" id="NNWW_Toolbars_addin.tool_adddrawings" image="Images\technology.png" message="" tip="Adds Orthophotographs and engineering drawings that are within the search box."><Help heading="" /></Tool>
        <Button caption="Remove Drawings" category="Newport News Waterworks Toolbars" class="ButtonClass_3_RemoveDrawings" id="NNWW_Toolbars_addin.button_removedrawings" image="Images\arrow.png" message="" tip="Remove all drawings from map."><Help heading="" /></Button>
        <Button caption="User Guide" category="Newport News Waterworks Toolbars" class="ButtonClass_1_HelpDoc" id="NNWW_Toolbars_addin.button_helpdoc" image="Images\signs.png" message="" tip="Open User Guide to answer any questions about this Python Add-In."><Help heading="" /></Button>
        <Tool caption="Data Extractor" category="Newport News Waterworks Toolbars" class="ToolClass_1_DataExtractor" id="NNWW_Toolbars_addin.tool_dataextractor" image="Images\web.png" message="" tip="Compiles select data that is within the search box."><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Newport News Waterworks Toolbars" class="ExtensionClass_NNWW" description="Controls how the various NNWW Toolbars react to map document variables" id="NNWW_Toolbars_addin.extensionnnww" name="NNWW Toolbar Extension" productName="NNWW Toolbar Extension" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="NNWW (Search GIS Features)" category="Newport News Waterworks Toolbars" id="NNWW_Toolbars_addin.toolbar_search" showInitially="true"><Items><ComboBox refID="NNWW_Toolbars_addin.combobox_layer" /><ComboBox refID="NNWW_Toolbars_addin.combobox_field" /><ComboBox refID="NNWW_Toolbars_addin.combobox_keyword" /><Button refID="NNWW_Toolbars_addin.button_search" /><Button refID="NNWW_Toolbars_addin.button_makelayer" /><Button refID="NNWW_Toolbars_addin.button_removelayers" /></Items></Toolbar>
        <Toolbar caption="NNWW (Find Street Intersection)" category="Newport News Waterworks Toolbars" id="NNWW_Toolbars_addin.toolbar_street" showInitially="true"><Items><ComboBox refID="NNWW_Toolbars_addin.combobox_streetone" /><ComboBox refID="NNWW_Toolbars_addin.combobox_streettwo" /><Button refID="NNWW_Toolbars_addin.button_findpoint" /><Button refID="NNWW_Toolbars_addin.button_removepoint" /></Items></Toolbar>
        <Toolbar caption="NNWW (Drawings)" category="Newport News Waterworks Toolbars" id="NNWW_Toolbars_addin.toolbar_drawings" showInitially="true"><Items><Button refID="NNWW_Toolbars_addin.button_addcadindex" /><Tool refID="NNWW_Toolbars_addin.tool_adddrawings" /><Button refID="NNWW_Toolbars_addin.button_removedrawings" /></Items></Toolbar>
        <Toolbar caption="NNWW (User Guide)" category="Newport News Waterworks Toolbars" id="NNWW_Toolbars_addin.toolbar_helpdoc" showInitially="true"><Items><Button refID="NNWW_Toolbars_addin.button_helpdoc" /></Items></Toolbar>
        <Toolbar caption="NNWW (New Project Data Extractor)" category="Newport News Waterworks Toolbars" id="NNWW_Toolbars_addin.toolbar_projectdata" showInitially="true"><Items><Tool refID="NNWW_Toolbars_addin.tool_dataextractor" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>